<div class="container dynamic_content" id="add_payment_page" hidden>
    <div class="row">
        <div class="col-8">
            <form action="" id="new_payment_form">
                <label for="payment_comment">Comment</label>
                <p><textarea class="form-control" id="payment_comment" name="payment_comment" rows="3"
                             style=" max-height: 260px"></textarea></p>

                <label for="payment_value">Payment value</label>
                <input style="width: 120px" class="form-control" id="payment_value" name="payment_value" type="number">
                <span style="color: red" id="payment_value_error"></span>
            </form>

            <div class="row" style="margin-top: 15px;">
                <div class="col-8">
                    <button id="payment_discard" style="" class="btn btn-danger">Discard</button>
                    <button id="payment_save" style="" class="btn btn-success">Add payment</button>
                </div>
                <div class="col-4">
                </div>
            </div>

        </div>
    </div>
</div>