<div id="new_order_form" hidden>
    <form id="client_form">
        <label for="first_name">First name</label>
        <input class="form-control" type="text" id="first_name">
        <label for="last_name">Last name</label>
        <input class="form-control" type="text" id="last_name">
        <label for="phone_number">Phone number</label>
        <input class="form-control" type="text" id="phone_number">
        <label for="address">Address</label>
        <input class="form-control" type="text" id="address">
    </form>
    <div id="save_row">
        <button id="create_order" class="btn btn-success">Create order</button>
    </div>

</div>
