<div id="order_detail" class="dynamic_content" hidden="">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h3 id="order_detail_number">
                        <span id="order_id"> </span>
                    </h3>
                </div>
                <div class="col-6">
                    <div class="time_field">
                        Created at: <span id="creation_date"> </span> <span id="creation_time"> | </span>
                        <br>
                        Updated at: <span id="update_date"> </span> <span id="update_time"> | </span>
                    </div>
                </div>
            </div>


            <div id="client_edit_form">
                <div class="row">
                    <div class="col-6">
                        <label for="first_name">First name</label>
                        <input class="form-control" type="text" id="first_name">
                    </div>
                    <div class="col-6">
                        <label for="last_name">Last name</label>
                        <input class="form-control" type="text" id="last_name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="phone_number">Phone number</label>
                        <input class="form-control" type="text" data-tel-input id="phone_number">
                    </div>
                    <div class="col-6">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email">
                    </div>
                </div>

                <hr>
            </div>

            <div class="row">
                <div class="col-6">

                    <div id="unit_edit_form">

                        <div class="row">

                            <div class="col-12">

                                <section id="brand">
                                    <div id="order_detail_brand_group" url="/api/v1/brands/">
                                        <label for="brand" id="shit">Brand</label>
                                        <div class="input-group" id="order_detail_brand">
                                            <select class="form-select" name="order_detail_brand">
                                                <option>Select brand</option>
                                            </select>
                                            <button type="button" class="btn btn-primary add_new_select_item">
                                                Add new
                                            </button>
                                        </div>
                                    </div>


                                    <div id="order_detail_create_new_brand_group" hidden>
                                        <label for="order_detail_new_brand_name">Add new brand</label>
                                        <div class="input-group">
                                            <input id="order_detail_brand_name" type="text" class="form-control"
                                                   placeholder="Input brand name">

                                            <button class="btn btn-success save_new_item" type="button">
                                                Create
                                            </button>
                                            <button class="btn btn-danger add_discard" type="button">
                                                Discard
                                            </button>
                                        </div>

                                    </div>
                                </section>

                            </div>
                        </div>


                        <label for="model">Model</label>
                        <input class="form-control" type="text" id="model">
                        <label for="serial_number">Serial number</label>
                        <input class="form-control" type="text" id="serial_number">
                    </div>

                </div>
                <div class="col-6">

                    <section id="type">
                        <div id="order_detail_unit_type_group" url="/api/v1/unit-types/">
                            <label for="unit_type" id="shit">Unit type</label>
                            <div class="input-group" id="order_detail_unit_type">
                                <select class="form-select" name="order_detail_unit_type">
                                    <option>Select type</option>
                                </select>
                                <button type="button" class="btn btn-primary add_new_select_item">
                                    Add new
                                </button>
                            </div>
                        </div>


                        <div id="order_detail_create_new_unit_type_group" hidden>
                            <label for="order_detail_new_type_name">Add new unit type</label>
                            <div class="input-group">
                                <input id="order_detail_new_type_name" type="text" class="form-control"
                                       placeholder="Input type name">
                                <button class="btn btn-success save_new_item" type="button">
                                    Create
                                </button>
                                <button class="btn btn-danger add_discard" type="button">
                                    Discard
                                </button>
                            </div>

                        </div>
                    </section>


                    <label for="unit_condition">Unit condition</label>
                    <input class="form-control" type="text" id="unit_condition">
                    <label for="unit_notes">Notes</label>
                    <input class="form-control" type="text" id="unit_notes">
                </div>
            </div>
            <hr>


            <div class="order_edit_form">
                <label for="defect">Defect</label>
                <textarea class="form-control" type="text" id="defect" rows="2"></textarea>
                <label for="diagnostic_result">Diagnostic result</label>
                <textarea class="form-control" type="text" id="diagnostic_result" rows="2"></textarea>
                <label for="required_works">Required works</label>
                <textarea class="form-control" type="text" id="required_works" rows="2"></textarea>
                <hr>
            </div>

            <div id="order_edit_buttons">
                <button id="save" type="button" class="btn btn-success">Save</button>
                <button id="discard" type="button" class="btn btn-danger">Discard</button>
            </div>
        </div>
        <div style="height: 60px; background: white" class="col-6">
            <div>
                <button class="btn btn-primary stage_buttons">Diagnostic</button>
                <button class="btn btn-warning stage_buttons">Diagnostic done</button>
                <button class="btn btn-info stage_buttons">Repair</button>
                <button class="btn btn-success stage_buttons">Repair complete</button>
                <button class="btn btn-secondary stage_buttons">Complete</button>
                <button class="btn btn-danger stage_buttons">Fail</button>
            </div>

            <div class="row" style="border: solid rgba(0,0,0,0.14) 1px; border-radius: 6px; margin-top: 23px">

                <div class="col-12 order_detail_services_and_parts_field">
                    <table id="snp" class="table table-sm ">
                        <thead>
                        <tr>
                            <th id="sp_id_header">ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Warranty</th>
                            <th id="actions" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="sp_table_elem">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-12">
                <div class="col-12 order_detail_new_sp_field">
                    <div style="margin-bottom: 14px; float: right;" class="row-12">
                        <div id="order_detail_summary" class="col-12">
                            Summary:
                        </div>
                    </div>
                    <div id="new_sp_form" class="input-group">


                        <form class="input-group" id="nf">

                            <input id="new_sp_description" placeholder="Description" type="text" class="form-control"
                                   name="sp_description">

                            <input id="new_sp_price" placeholder="Price" type="text" class="form-control"
                                   name="sp_price">

                            <select style="border: solid rgba(173,181,189,0.64) 1px" id="new_sp_warranty"
                                    class="custom-select">
                                <option selected>No warranty</option>
                                <option value="1">1 Month</option>
                                <option value="2">3 Month</option>
                                <option value="3">6 Month</option>
                            </select>

                            <button style="width: 80px" id="add_sp_button" class="btn btn-primary"
                                    type="button">Create
                            </button>
                        </form>
                        <div class="row-12">
                            <div class="col-12">
                                <span class="error" style="color: red"></span>
                            </div>
                        </div>
                    </div>

                    <div id="edit_sp_form" class="input-group">
                        <span class="error" style="color: red;"></span>
                        <input id="edit_sp_description" placeholder="Description" type="text" class="form-control"
                               name="sp_description">
                        <input id="edit_sp_price" placeholder="Price" type="text" class="form-control" name="sp_price">
                        <select style="border: solid rgba(173,181,189,0.64) 1px" id="edit_sp_warranty"
                                class="custom-select">
                            <option selected>No warranty</option>
                            <option value="1">1 Month</option>
                            <option value="2">3 Month</option>
                            <option value="3">6 Month</option>
                        </select>

                        <button style="width: 55px" id="save_edit_sp_button" class="btn btn-success"
                                type="button">Save
                        </button>
                        <button style="width: 75px" id="cancel_edit_sp_button" class="btn btn-danger"
                                type="button">Cancel
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>