<div class="container" id="order_detail" hidden="">
    <div class="row">
        <div class="col-6">
            <div class="time_field">
                Created at: <span id="creation_date"> </span> <span id="creation_time"> | </span>
                <br>
                Updated at: <span id="update_date"> </span> <span id="update_time"> | </span>
            </div>

            <h3 id="order_detail_number">
                <span id="order_id"> </span>
            </h3>

            <div id="client_edit_form">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" id="first_name">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" id="last_name">
                <label for="phone_number">Phone number</label>
                <input class="form-control" type="text" data-tel-input id="phone_number">
                <hr>
            </div>

            <div id="unit_edit_form">
                <label for="brand">Brand</label>
                <input class="form-control" type="text" id="brand">
                <label for="model">Model</label>
                <input class="form-control" type="text" id="model">
                <label for="serial_number">Serial number</label>
                <input class="form-control" type="text" id="serial_number">
            </div>

            <div class="order_edit_form">
                <p>
                    <label for="defect">Defect</label>
                    <textarea class="form-control" type="text" id="defect" rows="2"></textarea>
                </p>
                <p>
                    <label for="diagnostic_result">Diagnostic result</label>
                    <textarea class="form-control" type="text" id="diagnostic_result" rows="2"></textarea>
                </p>
                <p>
                    <label for="required_works">Required works</label>
                    <textarea class="form-control" type="text" id="required_works" rows="2"></textarea>
                </p>
                <hr>
            </div>

            <div id="order_edit_buttons">
                <button id="save" type="button" class="btn btn-success">Save</button>
                <button id="discard" type="button" class="btn btn-danger">Discard</button>
            </div>
        </div>
        <div style="height: 60px; background: white" class="col-6">
            <div>
                <button class="btn btn-success stage_buttons">Diagnostic</button>
                <button class="btn btn-outline-success stage_buttons">Diagnostic done</button>
                <button class="btn btn-outline-success stage_buttons">Repair</button>
                <button class="btn btn-outline-success stage_buttons">Repair complete</button>
                <button class="btn btn-outline-success stage_buttons">Closed</button>
            </div>

            <div class="row-12">
                <div class="col-12 order_detail_services_and_parts_field">

                    <table data-editable="true" id="snp" class="table table-sm" style="border: solid white 3px">
                        <thead>
                        <tr>
                            <th id="sp_id_header">ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Warranty</th>
                        </tr>
                        </thead>
                        <tbody class="sp_table_elem">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-12">
                <div class="col-12 order_detail_new_sp_field">
                    <div style="margin-bottom: 14px; float: right;" class="row-12">
                        <div id="order_detail_summary" class="col-12">
                            Summary:
                        </div>
                    </div>
                    <div id="new_sp_form" class="input-group">

                        <input id="new_sp_description" placeholder="Description" type="text" class="form-control">
                        <input id="new_sp_price" placeholder="Price" type="text" class="form-control">
                        <select style="border: solid rgba(173,181,189,0.64) 1px" id="new_sp_warranty"
                                class="custom-select">
                            <option selected>No warranty</option>
                            <option value="1">1 Month</option>
                            <option value="2">3 Month</option>
                            <option value="3">6 Month</option>
                        </select>

                        <button style="width: 80px" id="add_sp_button" class="btn btn-outline-primary" type="button">
                            Create
                        </button>
                    </div>

                    <div id="edit_sp_form" class="input-group">

                        <input id="edit_sp_description" placeholder="Description" type="text" class="form-control">
                        <input id="edit_sp_price" placeholder="Price" type="text" class="form-control">
                        <select style="border: solid rgba(173,181,189,0.64) 1px" id="edit_sp_warranty"
                                class="custom-select">
                            <option selected>No warranty</option>
                            <option value="1">1 Month</option>
                            <option value="2">3 Month</option>
                            <option value="3">6 Month</option>
                        </select>

                        <button style="width: 80px" id="save_edit_sp_button" class="btn btn-outline-success" type="button">Save</button>
                        <button style="width: 80px" id="cancel_edit_sp_button" class="btn btn-outline-danger" type="button">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>