{% load static %}
<div id="order_list_page" class="dynamic_content">
    <div class="row sticky-top sticky_header align-items-center">
        <div class="col-6">

            <button id="new_order_button" class="btn btn-primary">New order</button>

        </div>
        <div class="col-6 d-flex justify-content-end" style="padding-top: 14px">
            <div id="pagination_bar">
                <div class="row">
                    <div class="col-6">
                        <label for="show_by_select" style="font-weight: normal">Show by:</label>
                        <select class="form-select form-select-sm" id="show_by_select">

                        </select>
                    </div>

                    <div class="col-6">
                        <label for="current_page" style="font-weight: normal">Page</label>
                        <ul class="pagination pagination-sm" id="current_page">
                            <li class="page-item"><a class="page-link" href="#"><<</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">>></a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12" id="order_list_field">
            <table id="order_list_table" class="table table-striped table-hover">

                <thead style="position: sticky; top: 142px; z-index: 2; box-shadow: 0 4px 4px -2px rgba(7,105,177,0.5);">
                <tr>
                    <th style="width: 40px" scope="col" id="">#

                        <img src="{% static 'img/sort-numeric-down-alt.svg' %}" alt="" class="sort_by sort_by_order_id sort_by_order_id_default"
                                            val="&ordering=-order_id" >
                        <img src="{% static 'img/sort-numeric-down.svg' %}" alt="" class="sort_by sort_by_order_id"
                             val="&ordering=order_id" hidden></th>

                    <th style="width: 75px" scope="col">Client</th>
                    <th style="width: 96px" scope="col">Contact</th>
                    <th style="width: 110px" scope="col">Unit</th>
                    <th style="width: 135px" scope="col">Defect</th>
                    <th style="width: 65px" scope="col">Stage</th>
                </tr>
                </thead>
                <tbody id="orders" style="overflow: auto; height: 50px">
                </tbody>

            </table>
        </div>
    </div>
</div>