<div id="order_list" hidden="">
    <button id="new_order" class="btn btn-primary">New order</button>
    <table class="table caption-top data-sticky-header">

        <caption>Order List</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client</th>
            <th scope="col">Unit</th>
            <th scope="col">Defect</th>
            <th scope="col">Stage</th>
        </tr>
        </thead>

        <tbody id="orders">


        </tbody>

    </table>

</div>