<div id="order_detail" hidden="">
    <h3 id="order_detail_number">
        <span id="order_id"> </span>
    </h3>

    <div class="order_edit_form">
        <label for="defect">Defect</label>
        <input class="form-control" type="text" id="defect">

    </div>
    <hr>


    <div id="client_edit_form">
        <label for="first_name">First name</label>
        <input class="form-control" type="text" id="first_name">
        <label for="last_name">Last name</label>
        <input class="form-control" type="text" id="last_name">
        <label for="phone_number">Phone number</label>
        <input class="form-control" type="text" id="phone_number">
    </div>


    <div id="order_edit_buttons">
        <button id="save" type="button" class="btn btn-success">Save</button>
        <button id="discard" type="button" class="btn btn-danger">Discard</button>
    </div>
</div>
<!--<a class="a_general" href="">Save</a>-->