<div id="payments_page" class="dynamic_content" hidden>
    <div id="payments_head">
        <button id="add_payment" type="button" class=" btn btn-success buttons">Deposit</button>
        <button id="expense" type="button" class=" btn btn-danger buttons">Expense</button>

    </div>
    <div id="payments_list">
        <table class="table caption-top data-sticky-header">
            <caption>Payments List</caption>
            <thead id="list_head">
            <tr>
                <th scope="col">Payment Value</th>
                <th scope="col">Date</th>
                <th scope="col">Payment for</th>
                <th scope="col">Summary</th>
            </tr>
            </thead>
            <tbody>


            </tbody>



        </table>
        <div id="payments_list_summary">
                <label for="current_summary">Now available:</label>
                <span style="color: #0d0000" id="current_summary"> </span>
            </div>
    </div>
</div>