<div class="container" id="payments_page" hidden>
    <div id="payments_head">
        <button id="add" type="button" class=" btn btn-success buttons">Add</button>
        <button id="expense" type="button" class=" btn btn-danger buttons">Expense</button>
    </div>
    <div id="payments_list">
        <table class="table caption-top data-sticky-header">
            <caption>Payments List</caption>
            <thead id="list_head">
            <tr>
                <th scope="col">Summary</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Order</th>
            </tr>
            </thead>
            <tbody id="orders">
            </tbody>

        </table>

    </div>
</div>