{% extends 'main_app/base.html' %}

{% block title %} Index page {% endblock %}


{% block content %}
    <div class="container-fluid">

        <div class="row" style="height: 72px">
            <div class="col-12" style="position: fixed; z-index: 4">
                <div class="header">
                    {% include 'includes/header.html' %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1" style="min-width: 240px; position: fixed; margin-top: 10px">
                <div class="left_side">
                    {% include 'includes/left_side.html' %}
                </div>
            </div>

            <div class="col-10" style="min-width: 300px; margin-left: 230px; font-family: Calibri">
                <div class="right_side">
                    {% include 'includes/right_side.html' %}

                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-12 sticky-bottom" style="background: #ffffff; position: fixed; left: 12px;bottom: 0; height: 25px;">
            </div>
        </div>
    </div>

{% endblock %}