.wrap {

    margin: auto;
    /*padding: auto;*/
    width: 97%;
}

.header {
    margin-top: auto;
    padding: 1px;
    position: fixed;
    width: 100%;
    height: 80px;
    break-after: right;
    /*break-before: right;*/
}

.content {
    margin: 5px 5px;
    padding-top: 80px;
}

.left_side {
    margin: auto;
    padding-top: 4px;
    padding-right: 4px;
    width: 27%;
    height: 1600px;
    min-width: 280px;
    float: left;
    position: fixed;
    break-after: right;
    /*break-before: right;*/

}


.right_side {

    margin: auto;
    padding-top: 4px;
    width: 70%;
    height: 600px;
    /*align-content: center;*/
    float: right;
    min-width: 350px;
}

.caption-top {
    background: #ffffff;
    color: #0d0000;
    position: static;
    width: 100%;
}

.flex-column {
    height: 800px;
}

.a_general {
    text-decoration: none;
}

#order_edit_buttons {
    margin-top: 14px;
}

#save_row {
    margin-top: 14px;
}

label.error {
    color: red;
}

.time_field {
    float: right;
    color: black;
    padding: 5px;
    justify-content: right;
    font-family: monospace;
    font-size: medium;
    background-color: #ffcc5e;
    border-radius: 4px;
}

#pagination_bar {
    float: right;
    margin-bottom: 2px;
    position: sticky;
}

#list_head {
    background: red;
    /*margin: auto;*/
    position: sticky;
    top: 0;
}

#list_header {
    position: sticky;
    top: 0;
}