
.caption-top {
    background: #ffffff;
    color: #0d0000;
    position: static;
    width: 100%;
}

.navbar-fixed-top {
    min-width: 1200px;
    break-after: left;
}

.flex-column {
    height: 810px;
}

.a_general {
    text-decoration: none;
}

#order_edit_buttons {
    margin-top: 14px;
}

#save_row {
    margin-top: 14px;
}

label.error {
    color: red;
}

.time_field {
    height: 50px;
    float: right;
    color: black;
    padding: 5px;
    justify-content: right;
    font-family: monospace;
    font-size: medium;
    background-color: #ffcc5e;
    border-radius: 4px;
}

#pagination_bar {
    float: right;
    margin-bottom: 2px;
    position: sticky;
}


#payments_head {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#save_page {
    margin-top: 50px;
    margin-left: 170px;
}

#payments_list_summary {
    color: #00a22a;
    font-size: larger;
    font-weight: bold;
    float: right;
}

#payments_list tbody {
    font-weight: inherit;
}

.order_detail_new_sp_field {
    margin-top: 10px;
    padding: 8px 8px 8px 8px;
    height: 240px;
    /*background: #eaeef1;*/
}

.stage_buttons {
    height: 38px;
    margin-bottom: 5px;
}

.order_detail_services_and_parts_field {
    border-radius: 5px;
    border-color: #343a40;
    height: 230px;
    overflow: auto;
}

#snp thead {
    position: sticky;
    top: 0;
    background: white;
}

/*#order_list_field {*/
/*    !*height: 740px;*!*/
/*    !*overflow: auto;*!*/
/*    !*border: solid black 1px;*!*/

/*}*/

.sp_table_elem tr a:hover {
    color: red;
}

#order_detail_summary {
    font-size: x-large;
}


#order_list_table thead {
    position: sticky;
    top: 0;
    background: white;
}

.error {
    font-weight: normal;
    color: red;
    z-index: 2;
}

.line_input {
    height: 70px;
}

.form-control:focus, .form-select:focus {
    border-color: rgba(89, 221, 255, 0.73);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 117, 222, 0.48);
}

.form-check-input:checked {
    background-color: rgba(255, 67, 67, 0.64);
    border-color: rgba(255, 77, 77, 0.65);
}

.form-check-input:focus {
    border-color: rgba(255, 65, 65, 0.43);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 59, 59, 0.48);
}

label {
    font-size: medium;
    font-weight: bold;
    color: #3c4041;
}

#new_order_conditions_field label {
    font-size: medium;
    font-weight: normal;
    color: black;
}

.new_item_danger {
    animation: blink 1.9s linear infinite;
    border-color: rgba(255, 89, 89, 0.73);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 5, 5, 0.48);
}

.required:after {
    content: " *";
    color: red;
}

.sticky_header {
    height: 70px;
    background: rgb(255, 255, 255);
    top: 72px;
    margin-left: 0;
    box-shadow: 0 7px 7px -2px #ffffff;
}

.sticky-top {
    z-index: 3;
    margin-right: 0;
    padding-right: 4px;
}