.wrap {

    margin: auto;
    /*padding: auto;*/
    width: 97%;
}

.header {
    margin-top: auto;
    position: fixed;
    width: 100%;
    break-after: auto;
    break-before: auto;
}

.content {
    margin: auto;
    padding-top: 80px;
}

.left_side {
    margin: auto;
    padding-top: 4px;
    padding-right: 4px;
    width: 27%;
    height: 1600px;
    min-width: 280px;
    float: left;
    position: fixed;
    break-after: auto;
    break-before: auto;

}


.right_side {

    margin: auto;
    padding-top: 4px;
    width: 70%;
    align-content: center;
    float: right;
    min-width: 350px;
}

.caption-top {
    background: #ffffff;
    color: #0d0000;
    position: static;
    width: 100%;
}

.flex-column {
    height: 800px;
}

.a_general {
    text-decoration: none;
}